<div class="m3">
    <mat-card>
        <mat-card-title>
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button (click)="back()" data-test="back-button">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <h1 data-test="page-title">User information</h1>
            </div>
        </mat-card-title>
        <mat-card-content>
            <div *ngIf="user" fxLayout="column" fxLayoutAlign="start center">
                <p data-test="user-name">Name: {{ user.firstName }} {{ user.lastName | uppercase }}
                </p>
                <p data-test="user-email">Email: {{ user.email }}</p>
                <p *ngIf="user.admin" class="my2" data-test="user-admin">You are admin</p>
                <div *ngIf="!user.admin" fxLayout="column" class="my2"
                     fxLayoutAlign="center center">
                    <p>Delete my account:</p>
                    <button mat-raised-button color="warn" (click)="delete()"
                            data-test="delete-button">
                        <mat-icon>delete</mat-icon>
                        <span class="ml1">Detail</span>
                    </button>
                </div>
                <div fxLayoutAlign="space-between center" class="p2 w100">

                    <p data-test="user-created-at"><i>Create at: </i> {{ user.createdAt | date:
                        'longDate'}}</p>
                    <p data-test="user-updated-at"><i>Last update: </i> {{ user.updatedAt| date:
                        'longDate'}}</p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>